.bg-img {
    background-image: url("./travel-concept-with-composition-various-elements.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    width: 50px;
    height: 40px;
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

.book-row {
    height: 1000px !important;
    background-color: #000 !important;
}

.nav-link:hover {
    background-color: #fff !important;
}

.bg-info {
    background-color: pink !important;
}

.logo-img {
    width: 10px !important;
    height: 10px !important;
}

.card-body {
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.2) !important;
}