body{
    background: #fff !important;
}
.bg-usersidebar{
    background: pink !important;
}
.bg-book{
  /* display: flex; */
  /* justify-content: start; */
  /* align-items: center; */
}
@media (min-width: 992px) {
  .table-vertical thead tr{
    display: flex !important;
    flex-direction: row !important;
  }
}